{{! Whatever you want to put into the footer :)}}
		<p>&copy; 2018 Mike Ignaczak - Mongo Scrape. All rights reserved | Design by
			<a href="https://github.com/iggy788/Mongo-Scrape">Mongo Scrape Project</a>
		</p>
