<header class='main-header'>

	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<h1 id='title'>BREAKING NEWS</h1>

			<ul class='nav navbar-nav' id='bs-example-navbar-collapse-1'>
				<li>
					<a href='/'>
						<button class='button-dark'>Home</button>
				</li>
				<li>
					<a href='/articles/viewSaved'>
						<button class='button-dark' id='viewSaved'>View Saved Articles</button>
					</a>
				</li>
				<li>
					<button class='button-dark' id='scrape' data-toggle='modal' data-target='#alertModal'>Scrape New Articles</button>
				</li>
			</ul>
		</div>
	</nav>

</header>